*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg: rgb(44, 44, 44);
  --bg2: #131315;
  --bg3: #1a1a1d;
  --bg4: #222226;
  --border: rgba(255, 255, 255, 0.07);
  --border2: rgba(255, 255, 255, 0.12);
  --text: #f0ede8;
  --muted: #8a8680;
  --accent: rgb(144 202 249);
  --accent2: #a8845a;
  --teal: #4db89a;
  --teal-dim: rgba(77, 184, 154, 0.12);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--bg);
  color: var(--text);
  overflow-x: hidden;
  line-height: 1.6;
}


/* Chrome, Safari, Edge */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #7152f8;
  border-radius: 10px;
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #7152f8 transparent;
}
